@model IEnumerable<Backstage.Models.SeriesList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary me-2">新增</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeriesName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeriesName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.SeriesId" class="btn btn-primary me-2">編輯</a> |
                    <a asp-controller="SeasonList" asp-action="Create" asp-route-seriesId="@item.SeriesId" class="btn btn-primary me-2">新增季</a>|
                    <a asp-action="Delete" asp-route-id="@item.SeriesId" class="btn btn-primary me-2">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
