@model IEnumerable<Backstage.Models.PlayList>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="data:image/png;base64,@(Convert.ToBase64String(item.ShowImage ?? new byte[0]))" class="card-img-top w-100" alt="@item.PlayListName" style="height: 200px; object-fit: cover; object-position: top;" />
                <div class="card-body">
                    <h5 class="card-title">@item.PlayListName</h5>
                    <p class="card-text">@item.PlayListDescription</p>
                    <div class="d-flex">
                        <a href="javascript:void(0);" class="btn btn-info me-2" data-id="@item.PlayListId" onclick="showDetails(@item.PlayListId)">清單</a>
                        <a href="javascript:void(0);" class="btn btn-warning me-2" data-id="@item.PlayListId" onclick="editPlaylist(@item.PlayListId)">編輯</a>
                        <a href="javascript:void(0);" class="btn btn-danger" data-id="@item.PlayListId" onclick="deletePlaylist(@item.PlayListId)">刪除</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    </script>
}