@model Backstage.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastEditTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastEditTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coupon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coupon.CouponName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingCart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShoppingCart.ShoppingCartId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
