@model Backstage.Models.ArticleView
@section Styles {
    <style>
        .article-content {
            font-size: 1.25rem; /* 增加字體大小 */
            line-height: 1.6; /* 增加行高 */
        }

        .dl-row dt {
            font-weight: bold;
        }

        .dl-row dd {
            margin-bottom: 1rem; /* 增加下邊距 */
        }

    </style>
}

@section Scripts {
    <script>

    </script>
}

<div>
    <dl class="row dl-row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThemeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lock)
        <hr />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleContent)
        </dt>
        <div id="ArticleContent" class="col-sm-10 ">
            @Html.Raw(Model.ArticleContent)
        </div>

    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-gradient me-1 mb-2 large-btn" asp-route-id="@Model?.ArticleId">編輯</a>
</div>
