@model Backstage.Models.Article

@{
    // ViewData["Title"] = "編輯";
}

@section Styles {
    <link href="~/forumcss/mystyle.css" rel="stylesheet" />
    <style>
        .custom-file-upload {
            position: relative;
            display: inline-block;
        }

        .upload-button {
            border: 1px solid #007bff;
            border-radius: 4px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            text-align: center;
            font-size: 16px;
            transition: background-color 0.3s;
        }

            .upload-button:hover {
                background-color: #0056b3;
            }

        .file-input {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;
        }
    </style>
}

<h1>文章編輯</h1>
<hr />
<div class="row">
    <div class="col-7">
        <form asp-action="Edit">
            <!-- 基本信息區塊 -->
            <div class="">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="ArticleId" />
                <input type="hidden" asp-for="UpdateDate" value="@Model.UpdateDate" />
                <input type="hidden" asp-for="ReplyCount" value="@Model.ReplyCount" />
                <input type="hidden" asp-for="ArticleImage" value="@Model.ArticleImage" />

                <div class="form-group">
                    <label asp-for="ThemeId" class="control-label"></label>
                    <select asp-for="ThemeId" class="form-control" asp-items="ViewBag.ThemeId"></select>
                    <span asp-validation-for="ThemeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label"></label>
                    <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PostDate" class="control-label"></label>
                    <input readonly asp-for="PostDate" class="form-control" />
                    <span asp-validation-for="PostDate" class="text-danger"></span>
                </div>

                <div class="form-group m-2">
                    <div class="form-check">
                        <!-- 使用 asp-for 自動綁定布林值 -->
                        <input class="form-check-input" type="checkbox" asp-for="Lock" />
                        <label class="form-check-label" for="Lock">
                            @Html.DisplayNameFor(model => model.Lock)
                        </label>
                    </div>
                </div>

            </div>

            <!-- 文章內容區塊 -->
            <div class="">
                <div class="form-group">
                    <label asp-for="ArticleContent" class="control-label"></label>
                    <textarea asp-for="ArticleContent" class="form-control custom-textarea">@Model.ArticleContent</textarea>
                    <span asp-validation-for="ArticleContent" class="text-danger"></span>
                </div>

                <div class="form-group m-2">
                    <input type="submit" value="儲存變更" class="btn btn-gradient me-1 mb-2 large-btn" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-3">
        <form id="UserInfo">
            <div class="custom-file-upload">
                <label for="UserPhoto" class="upload-button">選擇圖片</label>
                <input onchange="ImgUpload(event)" type="file" accept="image/*"
                       class="file-input" id="UserPhoto" name="UserPhoto">
            </div>
            <p></p>
            <img class="img-thumbnail mb-2" src="/img/kadjasd.jpg" id="img1" />
            <input type="text" id="textUrl" class="mb-2 form-control" readonly />
        </form>
        <button onclick="submitInfo()" class=" btn btn-gradient me-1 mb-2 large-btn">提交</button>
    </div>
</div>


<div>
    <a asp-action="Index" class="btn btn-gradient me-1 mb-2 large-btn">回到文章列表</a>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('ArticleContent', {
            height: 500,
            width: '100%',
        });

        const UserInfo = document.querySelector('#UserInfo')

        async function submitInfo() {
            try {
                const formData = new FormData(UserInfo)
                const api = `@Url.Content("~/Articles/register")`
                const response = await fetch(api, {
                    method: 'POST',
                    body: formData
                })

                if (!response.ok) {
                    const errorData = await response.json();
                    console.error('錯誤詳細信息:', errorData);
                    return;
                }

                const data = await response.json()
                $('#textUrl').val(data)

            } catch (error) {
                alert(`fetch Api 發生例外狀況: ${error.message}`)
            }
        }

        const img1 = document.querySelector('#img1')

        async function ImgUpload(event) {

            const selectFile = event.target.files[0]
            const imageType = /image.*/

            if (!selectFile.type.match(imageType) || selectFile.size === 0) {
                event.target.value = ''
                alert('請選擇圖片')
                img1.src = ''
                return
            }

            const reader = new FileReader()

            reader.onload = () => {
                img1.src = reader.result
            }
            reader.readAsDataURL(selectFile)
        }
    </script>
}
