@model IEnumerable<Article>

@{
    ViewData["Title"] = "文章編輯";
}


@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/forumcss/mystyle.css" rel="stylesheet" />
    <style>


    </style>
}

<div class="row mb-3">
    <div class="col-2">
        <select class="form-select" aria-label="Default select example" onchange="changePageSize(event)">
            <option value="1">1</option>
            <option selected value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div class="col-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination" id="ul1">
            </ul>
        </nav>
    </div>
    <div class="col-2">
        <select class="form-select" aria-label="Default select example" onchange="changeSort(event)">
            <option value="asctheme" selected>主題升冪</option>
            <option value="theme">主題降冪</option>
            <option value="ascmemberName" selected>作者升冪</option>
            <option value="memberName">作者降冪</option>
            <option value="ascpostDate">發表日期升冪</option>
            <option value="postDate">發表日期降冪</option>
            <option value="ascreplyCount" >回覆數升冪</option>
            <option value="replyCount">回覆數降冪</option>
            <option value="asclock">上架升冪</option>
            <option value="lock">上架降冪</option>
        </select>
    </div>
    <div class="col-3">
        <input type="search" class="form-control" placeholder="請輸入關鍵字" oninput="inputKeyword(event)" />
    </div>
</div>
<h3></h3>
<table id="articleTable" class="table" >
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Theme)
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    篩選主題
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#" onclick="changeTheme(0)">顯示全部</a></li>

                    @foreach(var item in ViewBag.Theme) {
                        <li>
                            <a class="dropdown-item" href="#"
                               onclick="changeTheme('@item.ThemeId')">@item.ThemeName</a>
                        </li>
                    }
                </ul>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplyCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @* @foreach(var item in Model) {
            <tr class="">
                <td>
                    @Html.DisplayFor(modelItem => item.Theme.ThemeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.MemberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <button type="button" class="btn btn-gradient me-1 mb-2 large-btn"
                            onclick="showDetails(@item.ArticleId)">
                        點擊顯示
                    </button>
                </td>
                <td>
                    @item.PostDate.Value.ToString("yyyy/MM/dd HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReplyCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lock)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-gradient me-1 mb-2 large-btn"
                       asp-route-id="@item.ArticleId">編輯</a>
                </td>
            </tr>
        } *@
    </tbody>
</table>
<!-- 模態框 -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">文章內容</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
            </div>
            <div class="modal-body" id="modalContent">
                <!-- 這裡將動態加載內容 -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideDetails()">關閉</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        const forumDto = {
            "categoryId": 0,
            "keyword": "",
            "page": 1,
            "pageSize": 10,
            "sortType": "asc",
            "sortBy": ""
        }

        const liPages = document.querySelector('#ul1')
        const articles = document.querySelector('#tableBody')

        const load = async () => {
            try {
                const api = `@Url.Content("~/Articles/LoadIndex")`
                const response = await fetch(api, {
                    method: 'post',
                    body: JSON.stringify(forumDto),
                    headers: {
                        'Content-Type': 'Application/json'
                    }
                })

                if (!response.ok) {
                    console.log('獲取api失敗: ' , await response.statusText)
                    return
                }
                const data = await response.json()
                // console.log(data)
                const spots = getSpots(data) //將資料加工後取出

                articles.innerHTML = spots.join('')
                judgePages(data)
                $('h3').text(`共計有${data.totalCount}筆資料，現在是${curretPages}/${totalPages}頁`);


            } catch (error) {
                console.log('前端獲取api發生例外的錯誤: ' + error)
            }
        }

        load()

        function getSpots(data) {
            return data.forumResult.map(spot => createSpots(spot))
        }

        function createSpots(spot) {
            const { title, articleContent, authorId
                , themeId, articleId,  lock, postDate, replyCount, updateDate } = spot
            return `<tr >
                        <td>
                            ${themeId}
                        </td>
                        <td>
                            ${authorId}
                        </td>
                        <td>
                            ${title}
                        </td>
                        <td>
                            <button type="button" class="btn btn-gradient me-1 mb-2 large-btn"
                                        onclick="showDetails(${articleId})">
                                點擊顯示
                            </button>
                        </td>
                        <td>
                            ${postDate}
                        </td>
                        <td>
                            ${replyCount}
                        </td>
                        <td>
                            ${lock===true?'上架中':' X'}
                        </td>
                        <td>
                            <a href="/Articles/Edit/${articleId}" class="btn btn-gradient me-1 mb-2 large-btn">編輯</a>
                        </td>
                    </tr>
                    `
        }


        function judgePages(data) {
            let strPageLi = ''
            let totalPages = data.totalPages
            let curretPages = forumDto.page
            //總頁超過十 選取頁低於總頁10就全部顯示
            if (totalPages <= 10) {
                strPageLi = allPages(1, totalPages)

            } else if (curretPages <= 3) { //超過10頁就用...分隔顯示最後一頁 且當前頁小於4就不顯示...分隔

                strPageLi += allPages(1, 8)
                strPageLi += `...
                                        <li class="page-item"><a class="page-link" onclick="clickPages(${totalPages})">${totalPages}</a></li>`
            } else if (totalPages - curretPages >= 3) { //當前頁超過3 
                strPageLi = `<li class="page-item"><a class="page-link" onclick="clickPages(1)">1</a></li>...`
                strPageLi += allPages(curretPages - 2, curretPages + 2)
                strPageLi += `...
                                    <li class="page-item"><a class="page-link" onclick="clickPages(${totalPages})">${totalPages}</a></li>`
            } else {
                strPageLi = `<li class="page-item"><a class="page-link" onclick="clickPages(1)">1</a></li>...`
                strPageLi += allPages(totalPages - 4, totalPages)
            }

            liPages.innerHTML = strPageLi
            $('h3').text(`共計有${data.totalCount}筆資料，現在是${curretPages}/${totalPages}頁`);

        }

        function allPages(start, end) {
            let PageLi = ''

            for (let i = start; i <= end; i++) {
                PageLi += `
                        <li class="page-item"><a class="page-link" onclick="clickPages(${i})">${i}</a></li>
                        `
            }
            return PageLi
        }


        function showDetails(articleId) {
            // 隱藏表格
            document.getElementById('articleTable').style.display = 'none';

            // 顯示模態框
            const modal = new bootstrap.Modal(document.getElementById('detailsModal'));
            modal.show();

            // 發送 AJAX 請求獲取詳細內容
            fetch(`/Articles/Details?id=${articleId}`)
                .then(response => response.text())
                .then(data => {
                    // 將返回的內容插入到模態框中
                    document.getElementById('modalContent').innerHTML = data;
                });
        }

        function hideDetails() {
            // 顯示表格
            document.getElementById('articleTable').style.display = '';

            // 隱藏模態框
            const modal = bootstrap.Modal.getInstance(document.getElementById('detailsModal'));
            modal.hide();
        }

        document.getElementById('detailsModal').addEventListener('hidden.bs.modal', function () {
            document.getElementById('articleTable').style.display = '';
        });

        function changePageSize(event){
            forumDto.pageSize = event.target.value
            forumDto.page = 1
            load()
        }

        function inputKeyword(event){

            // if (event.key!=='Enter')
            //     return

            forumDto.keyword = event.target.value
            forumDto.page = 1
            load()
        }


        const changeTheme = categoryId => {
            forumDto.page = 1

            forumDto.categoryId = categoryId
            load()
        }

        const clickPages = page => {
            forumDto.page = page
            load()
        }

        const changeSort = (event) => {
            const selectValue = event.target.value

            const sortType = selectValue.includes('asc') ? 'asc' : 'desc'
            forumDto.sortType = sortType

            const sortBy = selectValue.replace('asc', '')
            forumDto.sortBy = sortBy

            load()
        }
    </script>

}