@model IEnumerable<Backstage.Models.VideoList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section Styles{
    <style>
        .table th {
        min-width: 80px; /* 設置最小寬度 */
        text-align: left; /* 設置文字對齊方式 */
        white-space: nowrap; /* 防止文字換行 */
        }
        .btn{
            min-width: 40px;
            text-align: center; /* 設置文字對齊方式 */
            white-space: nowrap; /* 防止文字換行 */
        }
        /* Overlay styles */
        .overlay {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
        }

        .overlay-content {
            position: absolute;
            top: 50%;
            left: 60%;
            transform: translate(-50%, -50%);
            width: 50%;
            max-width: 800px;
        }

        .overlay img {
            width: 50%;
            height: auto;
        }
    </style>
}

<p>
    <a asp-action="Create" class="btn btn-primary me-2">新增</a>
</p>
<div class="justify-content-start m-0">
    <table class="table">
        <thead>
            <tr>
                <th style="min-width:145px">
                    @Html.DisplayNameFor(model => model.VideoName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MainGenre)
                </th>
                <th style="min-width:100px">
                    @Html.DisplayNameFor(model => model.Series)
                </th>
                <th style="min-width:20px">
                    @Html.DisplayNameFor(model => model.Season)
                </th>
                <th style="min-width:50px">
                    @Html.DisplayNameFor(model => model.Episode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RunningTime)
                </th>
                <th class="w-30">
                    @Html.DisplayNameFor(model => model.IsShowing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Popularity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ThumbnailId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Views)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgeRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrailerUrl)
                </th>
                
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VideoName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.TypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainGenre.GenreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Series.SeriesName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Season.SeasonId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Episode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RunningTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsShowing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Popularity)
                    </td>
                    <td>
                        <a href="#" onclick="showOverlay(@item.VideoId); return false;" class="btn btn-primary me-2">觀看</a>
                        <div id="imageOverlay" class="overlay" >
                            <div class="overlay-content">
                                <img id="overlayImage" src="" alt="Image" />
                                <br />
                                <button class="btn btn-secondary" onclick="closeOverlay()">關閉</button>
                            </div>
                        </div>
                        @* @Html.DisplayFor(modelItem => item.ThumbnailId) *@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lang)
                    </td>
                    <td>
                        <a asp-action="EditSummary" asp-route-id="@item.VideoId" class="btn btn-primary me-2">詳細</a>
                        @* @Html.DisplayFor(modelItem => item.Summary) *@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Views)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgeRating)
                    </td>
                    <td>
                        @{
                            bool isTrailerUrlAvailable = !string.IsNullOrEmpty(item.TrailerUrl);
                        }
                        @if (isTrailerUrlAvailable)
                        {
                            <a href="@item.TrailerUrl" class="btn btn-primary me-2" target="_blank">
                                觀看
                            </a>
                        }
                        else
                        {
                            <button class="btn btn-primary me-2" disabled>
                                觀看
                            </button>
                        }
                        @* <button class="btn btn-primary me-2" href="@item.TrailerUrl">觀看</button> *@
                        @* @Html.DisplayFor(modelItem => item.TrailerUrl) *@
                    </td>
                    
                    <td>
                        <div class="d-flex">
                            <a asp-action="Details" asp-route-id="@item.VideoId" class="btn btn-primary me-2">詳細</a>
                            <a asp-action="Edit" asp-route-id="@item.VideoId" class="btn btn-primary me-2">編輯</a>
                            <a asp-action="Delete" asp-route-id="@item.VideoId" class="btn btn-primary me-2">刪除</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script>
        function showOverlay(videoId) {
            fetch(`/ImageForVideoList/GetImage?videoId=${videoId}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok.');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        document.getElementById('overlayImage').src = data.imageUrl;
                        document.getElementById('imageOverlay').style.display = 'flex';
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function closeOverlay() {
            document.getElementById('imageOverlay').style.display = 'none';
        }

    </script>

}



