@model IEnumerable<Backstage.Models.ViedoPlanList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viedo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plan.PlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viedo.VideoName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ViedoPlanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ViedoPlanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ViedoPlanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
